/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  background: radial-gradient(
          200% 100% at top right,
          var(--ifm-color-primary-darkest) 36%,
          var(--ifm-color-primary) 100%,
          var(--ifm-background-color) 1%
  )
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroBanner [class*="lottie-wrapper"] {
    padding: 1rem 0 2rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
